menu "MDB Cashless Device"

    choice
        prompt "Peripheral Addresses"
        default CASHLESS_DEV_1

        config OP_DEVICE_1
            bool "Cashless Device #1 - 0X10"

        config OP_DEVICE_2
            bool "Cashless Device #2 - 0X60"

    endchoice

    config CASHLESS_DEV_HEX
        string
        default "0x10" if OP_DEVICE_1
        default "0x60" if OP_DEVICE_2

    choice
        prompt "Country / Currency Code"
        default CURRENCY_UNKNOWN

        config CURRENCY_EUR
            bool "EUR - 0x0978"

        config CURRENCY_USD
            bool "USD - 0x0840"

        config CURRENCY_BRL
            bool "BRL - 0x0986"

        config CURRENCY_UNKNOWN
            bool "UNKNOWN - 0xffff"
    endchoice

    config CURRENCY_CODE_HEX
        string
        default "0x1978" if CURRENCY_EUR
        default "0x1840" if CURRENCY_USD
        default "0x1986" if CURRENCY_BRL
        default "0xffff" if CURRENCY_UNKNOWN

endmenu # MDB Cashless Device