kicad/**/*-backups
kicad/**/fp-info-cache
kicad/**/*.lck
kicad/**/*.kicad_prl
kicad/*/*.pdf
kicad/*/*.png
kicad/*/*.jpg
kicad/**/*.round-tracks-config

docker/vuejs/package-lock.json
docker/vuejs/node_modules/
docker/vuejs/dist/

**/managed_components
**/build
**/sdkconfig.old
**/.idea/*

.vscode/*

.project

.temp
