kicad/mdb-slave-esp32s3-backups

mdb-slave-esp32s3/managed_components
mdb-slave-esp32s3/build
mdb-slave-esp32s3/sdkconfig.old

mdb-master-esp32s3/managed_components
mdb-master-esp32s3/build
mdb-master-esp32s3/sdkconfig.old

